 @{
    ViewData["Title"] = "Home Page";
}


<h3>.N</h3>
<h2>Tutorial</h2>
<div class="text-left">
    <h1>INTRODUÇÃO AO</h1>
    <h1>VS STUDIO</h1>
    <h6>Top 1 em aplicativos de programação</h6>
    <h4>Conheça o VS Studio e tenha a melhor experiência</h4>
    <h4>no mundo mágico da programação.</h4>
    <h4>Aproveite!</h4>
    <button type="button" class="btn btn-light">ASSISTIR</button><button1 type="button" class="btn btn-secondary">MAIS INFORMAÇÕES</button1>
</div>