@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-image: url(https://wallpapercave.com/wp/WhOgGyR.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Jazz LET, fantasy;
    font-size: 50px;
    color: #fff;
    margin-right: 0rem;
    margin-left: 3rem;
    position: relative;
    top: 20px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #FFF;
    margin-right: 2rem;
    margin-left: 5rem;
    position: relative;
    top: 5px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #936CCA;
    margin-right: 2rem;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp6734564.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}

h1 {
    font-family: Jazz LET, fantasy;
    font-size: 50px;
    color: #fff;
    margin-right: 0rem;
    margin-left: 1rem;
    position: relative;
    top: 20px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #FFF;
    margin-right: 2rem;
    margin-left: 3rem;
    position: relative;
    top: 5px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #936CCA;
    margin-right: 2rem;
    margin-left: 1rem;
    position: relative;
    top: 48px;
}

button {
    background-image: url(https://keywordsheeter.com/static/images/icon-play.svg);
    background-size: 35px 48px;
    background-repeat: no-repeat;
    padding-left: 80px;
    font-size: 40px;
    margin-right: 3rem;
    margin-left: 1rem;
    position: relative;
    top: 105px;
    width: 180px;
    height: 50px;
}

button1 {
    margin-right: 2rem;
    margin-left: 0rem;
    position: relative;
    top: 105px;
    width: 180px;
    height: 50px;
    opacity: 0.8;
}

h4 {
    font-family: Arial;
    font-size: 105%;
    color: #FFF;
    margin-right: 2rem;
    margin-left: 1rem;
    position: relative;
    top: 80px;
}

h6 {
    background-image: url(https://cdn.icon-icons.com/icons2/81/PNG/256/arrow_top_15599.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 40px;
    font-weight: bold;
    font-size: 120%;
    color: #FFF;
    margin-right: 2rem;
    margin-left: 3rem;
    position: relative;
    top: 43px;
}

=======

